/*BANNER FORMAT*/

.banner-title{
	font-family: PT Sans;
	font-size: 2.5rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	margin:0;
}

.banner-question{
	font-family: PT Sans;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.7em;
	margin:0;
	border-top: 1px solid black;
	padding-top: 0.5em;
	width: 100%;
}

.banner-header{
	background-color: rgba(255,255,255,0.7);
	width: 40%;
	padding: 1rem;
	text-align: center;
	position: absolute;
	top: 35%;
	margin: 0px 30%;
}

.banner img{
	position: relative;
}

.banner{
	position: relative;
	}


/* ABOUT PAGE*/

		.history-text {
	  font-family: PT Sans;
	  font-size: 0.8rem;
	  margin: 0;
	  padding: 0.25rem 10%;
	  padding-left: 0;
	  /* margin-left: 2em; */
	  text-align: left;
	  width: 100%;
	  letter-spacing: 0.05em;
	  line-height: 1.5em;
	}


	.information-header {
		font-family: PT Sans;
  		font-size: 1.25rem;
  		text-transform: uppercase;
  		letter-spacing: 3px;
  		margin: 0;
	}

	h4 h6{
		font-family: PT Sans;
	}

	.sub-heading{
		font-family: PT Sans;
  		font-size: 1.25rem;
  		display: block;
	}

	.about{
		margin: 2rem;
		padding-bottom: 4rem;
		border-bottom: 1px solid #ccc;
	}


	#meet-team{
		height: 2em;
  		background-color: #00ADEF;	
  		padding: 0.5rem;
  		margin-top: 3rem;
  		color: white;
	}

	.picture-place{
		max-width: 90%;
	}

	.staff-picture {
		width:100%;
	}

	.staff-name{
		font-size: 1rem;
		font-weight: 700;
  		padding-top: 0.5rem;
  		margin: 0;
  		letter-spacing: 2px;
  		text-transform: uppercase;
  		font-family: PT Sans;
  		font-size:0.75rem;
	}

		.staff-text {
		font-family: PT Sans;
		font-size: 0.8rem;
		margin:0;
		padding: 0.25rem 2rem;
		margin-left: 2em;
		text-align: left;
		width: 95%;
		letter-spacing:0.05em;
		line-height: 1.5em;
	}

	.staff-description{
		color: #00AEDF;
	}

	#staff-intro{
		width: 100%;		
		text-align: left;
		margin:auto;
		padding:1em 10%;
	}


/*EVENT PAGE*/

	#upcoming-e{
		text-align: center;
		margin-top: 3rem;
		margin-bottom: 2rem;
	}

	#event-place{
		padding:0.5rem;
	}
	
	#event-name {
  		padding-top: 0.5rem;
  		padding-bottom: 0.5rem;
  		margin: 0;
  		letter-spacing: 1px;
	}

	#event-p{
		padding-top: 1rem;
		padding-bottom: 0;
	}

	#event-detail{
		text-transform: uppercase;
		margin-top: 1em;
		display: inline-block;
	}

	.event-head{
		font-weight: 700;
		color: #00AEDF;
	}

	.bold-color{
		font-weight: 700;
		color: #00AEDF;
		margin:0;
		padding:0;
		text-decoration: none;
	}

	#map{
		margin:0;
		padding-bottom: 1rem;
	}

	.event-description{
		margin-left: 5em;
		width:80%;
	}

	.event-information{
		margin: 2rem;
  		padding-bottom: 4rem;
	}

	.event-question{
		font-family:PT Sans;
		display:inline;
		margin:0;
	}

	.fan-expo-pics{
		margin-top: 2em;
		padding: 0 5%
	}

.fan-expo{
  display: inline-block;
  width: 33.3333%;
  /* height: 10em; */
  float: left;
  text-align: center;
}

.fan-expo-first img {
	width:90%;
	margin-right:10%;
	height:auto;
}

.fan-expo-mid img {
	width:90%;
	margin-right:5%;
	margin-left:5%;
		height:auto;
	-webkit-backface-visibility: hidden;	
}


.fan-expo-last img {
	width:90%;
	margin-right:10%;
	float:right;
	margin-right:0;
	height:auto;
}

	p a {
		font-family: PT Sans;
		text-transform: uppercase;
		font-size: 1.25rem;
		color:black;
		text-decoration: underline;
		margin:0;
	}

	p a:hover{
		color: #00ADEF;
	}

	
	/*CONTACT PAGE*/

	.big-header{
		font-family: PT Sans;
  		font-weight: 700;
  		text-transform: uppercase;
  		color: black;
  		font-size: 2rem;
  		margin-top: 0;
  		padding-bottom: 0.25em;
  		letter-spacing: 5px;
  		margin: 0;
  		padding: 1rem;
  		display:inline;
	}


	#contact-info{
		margin:0;
		padding: 1rem;
	}

	hr {
		margin: 2rem;
		color: grey;
		border-top: none;
	
	}

	.small-header{
		font-family: PT Sans;
		font-size: 0.75rem;
  		margin: 1rem;
  		text-transform: uppercase;
  		letter-spacing: 3px;
  		text-align: center;
	}

	.con-comments {
  		font-family: PT Sans;
  		padding: 0.25rem;
  		text-transform: uppercase;
  		letter-spacing: 2px;
  		width: 80%;
  		display: block;
  		margin: auto;
	}

	#form-comment{
		margin: 1rem 5%;
		width: 90%;
		height: 10em;

	}

	.nav-button{
		text-decoration: none;
  		list-style: none;
  		border: 1px solid #E6E7E8;
  		width: 20%;
  		padding: 0.5em 1em;
  		text-align: center;
  		margin: 0.5em 0;
  		font-family: PT Sans;
  		text-transform: uppercase;
  		font-weight: 700;
  		letter-spacing: 2px;
  		font-size: 12px;
  		background-color: #E6E7E8;
  		color: white;
  		transition: 0.3s;
  		color: black;
  		
	}

/*Responsive*/

@media (max-width: 50em) {
	.banner img{
	position: absolute;
	height:100%;
	width:auto;
	right:0;
}

.banner{
	position: relative;
	height:14em;
	margin-top:4em
	}
.banner-header {
	width:80%;
	margin:auto 10%;
}
}

@media (max-width: 40em) {
	.banner img{
	position: absolute;
	height:100%;
	width:auto;
	right:0;
}

.banner{
	position: relative;
	height:14em;
	margin-top:9em;
	z-index:0;
	}
.banner-header {
	width:80%;
	margin:auto 10%;
	top:15%;
}
	}

