/*ACCENTS*/
.bold-color{
	font-weight: 700;
	color: #00AEDF;
	margin:0;
	text-decoration: none;
	display: inline-block;
	width:100%;
	position: relative;
	font-size:0.8rem;
	text-transform: uppercase;
	}

/*MAP*/
.map {
	width: 75%;
	height: 400px;
	frameborder: 0;
	border:0;
	float:left;
}


/*BANNER FORMAT*/
.banner-header{
	background-color: rgba(255,255,255,0.7);
	width: 40%;
	padding: 1rem;
	text-align: center;
	position: absolute;
	top: 35%;
	margin: 0px 30%;
}

/* ABOUT PAGE*/
	.history-text {
		font-family: PT Sans;
		font-size: 0.8rem;
		margin: 0;
		padding: 0.25rem 0;
		/* margin-left: 2em; */
		text-align: left;
		width: 100%;
		letter-spacing: 0.05em;
		line-height: 1.5em;
		padding-right:10%;
	}


	.information-header {
		font-family: PT Sans;
  		font-size: 1.25rem;
  		text-transform: uppercase;
  		letter-spacing: 3px;
  		margin: 0;
	}

	h4 h6{
		font-family: PT Sans;
	}

	.sub-heading{
		font-family: PT Sans;
  		font-size: 1.25rem;
  		display: block;
	}

	.about{
		margin: 2rem;
		padding-bottom: 4rem;
		border-bottom: 1px solid #ccc;
	}


	.meet-the-team{
		width:90%;
		margin:1em auto;
	}

	.picture-place{
		max-width: 90%;
	}

	.staff-picture {
		width:100%;
	}

	.staff-name{
		font-size: 1rem;
		font-weight: 700;
  		padding-top: 0.5rem;
  		margin: 0;
  		letter-spacing: 2px;
  		text-transform: uppercase;
  		font-family: PT Sans;
  		font-size:1rem;
	}

	.staff-description{
		color: #00AEDF;
		font-size: 1rem;
		font-weight: 700;
  		margin: 0;
  		letter-spacing: 2px;
  		text-transform: uppercase;
  		font-family: PT Sans;
  		font-size:0.75rem;
	}

		.staff-text {
		font-family: PT Sans;
		font-size: 0.8rem;
		margin:0;
		padding: 0.25rem 2rem;
		margin-left: 2em;
		text-align: left;
		width: 95%;
		letter-spacing:0.05em;
		line-height: 1.5em;

	}

	#staff-intro{
		width: 100%;		
		text-align: left;
		margin:auto;
		padding:1em 10%;
		min-height: 15em;
	}


/*EVENT PAGE*/

/*Event Main*/
	.fan-expo-pics{
		margin-top: 2em;
		width: 100%;
		height: auto;
		position: relative;
		display: inline-block;
	}
	.fan-expo{
		display: inline-block;
		width: 32%;
		margin-bottom: 2em;
		/* height: 10em; */
		vertical-align: top;
		text-align: center;
		transition:0.5s;
	}

	.fan-expo:hover{
		opacity: 0.5;
		transition:0.5s;
	}

	.fan-expo .events-label {
		width:95%;
		margin:1em 5%;
	}

	.fan-expo-first img, .fan-expo-mid img, .fan-expo-last img {
		width:90%;
		margin:auto 10%;
		height:auto;
	}

/*Event details*/
	.event-description{
		float: none;
		display: inline-block;
		position: relative;
		width: 100%;
		margin: 3em 0;
		/* padding: 1em; */
	}

	.event-description img{
		width:30%;
		float:left;
	}

	.event-description p {
		font-family: PT Sans;
		font-size: 0.8rem;
		margin: 0em 2em;
		/*padding: 0.25rem 10%;*/
		padding-left: 0;
		/* margin-left: 2em; */
		text-align: left;
		width: 60%;
		letter-spacing: 0.05em;
		line-height: 1.5em;
		float:left;
	}

/*	p a {
		font-family: PT Sans;
		text-transform: uppercase;
		font-size: 1.25rem;
		color:black;
		text-decoration: underline;
		margin:0;
	}

	p a:hover{
		color: #00ADEF;
	}*/

	
/*CONTACT PAGE*/
	.contact{
	  width: 100%;
	  height: auto;
	  display: inline-block;
	  position: relative;
	  margin-top: 2em;

	}

	.store-info{
		width: 25%;
		position: relative;
		height: auto;
		float: left;
		display: inline;
		margin: auto;
	}

	.store-details{
		display: inline-block;
		position: relative;
		margin-bottom: 1em;
		float: left;
		width: 100%;
		text-align: left;
	}

	.store-details p, .store-details a {
		padding:0;
		font-family: PT Sans;
		font-size: 0.8em;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		text-align: left;
		margin-left:2em;
	}

	.store-details a{
		font-size: 1.25em;
		margin-bottom: 0.5em;
		margin-left:auto;
	}

	/*Question Box*/
		.contact-us{
		  	width: 100%;
		  	height: auto;
		  	margin-bottom: 4em;
		  	margin-top: 2em;
		}

		.small-header{
		  	text-align: center;
		}

		.con-comments {
	  		font-family: PT Sans;
	  		padding: 0.25rem;
	  		text-transform: uppercase;
	  		letter-spacing: 2px;
	  		width: 60%;
	  		display: block;
	  		margin: auto;
	  		margin-bottom: 2em;
		}

		#form-comment{
			margin: 1rem 5%;
			width: 60%;
			height: 50em;

		}

		textarea{
			height:15em;
			outline:none;
			border: 1px solid #E0E0E0;
		}

		.nav-button{
			text-decoration: none;
	  		list-style: none;
	  		border:none;
	  		width: 20%;
	  		padding: 0.5em 1em;
	  		text-align: center;
	  		margin: 0.5em 0;
	  		font-family: PT Sans;
	  		text-transform: uppercase;
	  		font-weight: 700;
	  		letter-spacing: 2px;
	  		font-size: 12px;
	  		background-color: #E6E7E8;
	  		color: white;
	  		transition: 0.3s;
	  		color: black;
	  		box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
		}

		.nav-button:hover{
			background-color: #00ADEF;
			border:none;
			color:white;
			transition:0.3s;
		}

/*TABLET*/
@media (max-width: 50em) {
	/*BANNER*/
		.banner{
			position: relative;
			height:14em;
			margin-top:4em
		}

		.banner img{
			position: absolute;
			height:100%;
			width:auto;
			right:0;
		}

		.banner-header {
			width:80%;
			margin:auto 10%;
		}
	/*MAP*/	
		.map {
			width:100%;
		}

	/*ABOUT*/	
		.about{
			margin: 2rem auto;
			padding-bottom: 4rem;
			width:100%;
		}

		.history-text {
			padding-right:0;
		}

	/*CONTACT*/
		.con-comments{
			width:80%;
		}

		.store-info{
			width: 100%;
			margin: auto;
		}

		.store-info p {
			margin-left:0;
		}

	/*EVENTS*/	
		.fan-expo{
			width:47%;
		}

		.event-description img{
			width:100%;
		}

		.event-description p {
			margin: 1em 0em;
			width: 100%;
		}
}
/*END OF TABLET*/

/*MOBILE*/
@media (max-width: 40em) {
	
	header nav {
		display:none;
	}

	/*BANNER*/
		.banner img{
			position: absolute;
			height:100%;
			width:auto;
			right:0;
		}

		.banner{
			position: relative;
			height:14em;
			margin-top: 3em;
			z-index:0;
		}
		.banner-header {
			width:80%;
			margin:auto 10%;
			top:15%;
		}

	/*ABOUT*/
		#staff-intro {
			min-height:0;		
		}

		.store-details{
			width:100%;
		}

		.event-details {
			width: 100%;
		}

		.meet-the-team{
			width:100%;
			margin:1em auto;
		}

	/*EVENTS*/	
		.fan-expo{
			width:90%;
		}
}