/* ABOUT PAGE*/
	
	.crimson-text {
		font-family: Crimson;
		margin:0;
		padding: 2rem;
		text-align: left;
	}

	.information-header {
		font-family: PT Sans;
  		font-size: 1.25rem;
  		text-transform: uppercase;
  		letter-spacing: 3px;
  		margin: 0;
	}

	h4 h6{
		font-family: PT Sans;
	}

	.sub-heading{
		font-family: PT Sans;
  		font-size: 1.25rem;
  		display: block;
	}

	.meet-the-team{
		
	}

	#meet-team{
		height: 2em;
  		background-color: lightgray;
  		text-align: center;
  		padding: 0.5rem;
  		margin-top: 3rem;
	}

	.picture-place{
		max-width: 90%;
	}

	#staff-name{
  		padding-top: 0.5rem;
  		margin: 0;
  		letter-spacing: 2px
	}

	#staff-intro{
		padding: 0.5rem 17%;

	}


/*EVENT PAGE*/

	#upcoming-e{
		text-align: center;
		margin-top: 3rem;
		margin-bottom: 2rem;
	}

	#event-place{
		padding:0.5rem;
	}
	
	#event-name {
  		padding-top: 0.5rem;
  		padding-bottom: 0.5rem;
  		margin: 0;
  		letter-spacing: 1px;
	}

	#event-p{
		padding-top: 1rem;
		padding-bottom: 0;
	}

	#event-time{
		text-align: center;
		padding: 1rem 10% 0 10%;
		text-transform: uppercase;
		margin: 0;
		display: block;
	}

	#map{
		margin:0;
		padding-bottom: 1rem;
	}

	p a {
		font-family: PT Sans;
		text-transform: uppercase;
		font-size: 1.25rem;
		color:black;
		text-decoration: underline;
		margin:0;
	}

	p a:hover{
		color: #00ADEF;
	}

	
	/*CONTACT PAGE*/

	.big-header{
		font-family: PT Sans;
  		font-weight: 700;
  		text-transform: uppercase;
  		color: black;
  		font-size: 2rem;
  		margin-top: 0;
  		padding-bottom: 0.25em;
  		letter-spacing: 5px;
  		margin: 0;
  		padding: 1rem;
  		display:inline;
	}


	#contact-info{
		margin:0;
		padding: 1rem;
	}

	hr {
		margin: 2rem;
		color: grey;
		border-top: none;
	
	}

	.small-header{
		font-family: PT Sans;
		font-size: 0.75rem;
  		margin: 1rem;
  		text-transform: uppercase;
  		letter-spacing: 3px;
  		text-align: center;
	}

	.con-comments {
  		font-family: PT Sans;
  		padding: 0.25rem;
  		text-transform: uppercase;
  		letter-spacing: 2px;
  		width: 80%;
  		display: block;
  		margin: auto;
	}

	#form-comment{
		margin: 1rem 5%;
		width: 90%;
		height: 10em;

	}

	.nav-button{
		text-decoration: none;
  		list-style: none;
  		border: 1px solid #E6E7E8;
  		width: 20%;
  		padding: 0.5em 1em;
  		text-align: center;
  		margin: 0.5em 0;
  		font-family: PT Sans;
  		text-transform: uppercase;
  		font-weight: 700;
  		letter-spacing: 2px;
  		font-size: 12px;
  		background-color: #E6E7E8;
  		color: white;
  		transition: 0.3s;
  		color: black;
  		
	}

/*	a:hover {
  		text-decoration: none;
  		color: white;
  		background-color: #00ADEF;
  	}*/

