*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class^='grid-col-'] {
	float: left;
	padding: 0; 
	text-align: center; 
}

.grid-col-half {
	width: 50%;
	margin-top: 2rem;
	margin-bottom: 0;
}

@media (max-width: 50em) {

	.grid-col-half {
		width: 100%;
	}

}

.grid-col-intro{
	width: 50%;
	margin-top: 2rem;
	
}

/*not necessary...for now*/
#staff-grid{
	margin-top: 2rem;
}


/*event*/

.grid-col-event{
	width:auto;
	margin: 1rem;
}

@media (max-width: 30em) {
	.grid-col-event{
	width:100%;
	}
}

/*contact*/

.grid-col-30{
	width:50%;
	text-align: left;
	margin-top:2rem;
}

.grid-col-form{
	width:50%;
	margin-top:1rem;
}

@media (max-width: 50em) {
	.grid-col-30{
		width: 100%;
		text-align: center;
	}
	#grid-col-form{
		width:100%;
		margin-right:auto;
		margin-left:auto;
	}

}

.center{
	text-align: center;
}

.grid:after {
	content: "";
	display: block;
	clear: both;
}