*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

[class^='grid-col-'] {
	float: left;
	padding: 0; 
	text-align: center; 
}

/*MULTI*/
.grid-col-three {
	width: 33%;
	margin-top: 2rem;
	margin-bottom: 0;	
}
.grid-col-three img {
	width:50%;
	height:auto;
}

.grid-col-half {
	width: 50%;
	margin-top: 2rem;
	margin-bottom: 0;
}

.grid-col-one {
	width: 80%;
	margin-top: 2rem;
	margin-bottom: 0;
	margin: 1em 10%;
}
.break{
  border-bottom: 1px solid #ccc;
  padding-bottom: 2em;
}

.grid-col-three p {
	/*width: 90%;*/
}

@media (max-width: 50em) {

	.grid-col-half {
		width: 100%;
	}
	.grid-col-three {
  		width: 50%;
  		min-height: 30em;
	}

	.grid-col-three img {
		width:60%;
		height:auto;
	}

	.company-text{
		padding: 0.25rem 1rem;
	}
}

@media (max-width: 40em) {
	.grid-col-three{
	  width: 90%;
	  /* min-width: 25em; */
	  min-height: 0;
	  margin:2em auto;
	  float:none;

	}
	.grid-col-three img {
		width:80%;
		height:auto;
		  max-width: 18em;
	}
}


/*ABOUT PAGE*/

.grid-col-intro{
	width: 50%;
	margin-top: 2rem;
	
}

/*EVENT PAGE*/

.grid-col-event{
	width:auto;
	margin: 1rem;
}

@media (max-width: 30em) {
	.grid-col-event{
	width:100%;
	}
}

/*CONTACT PAGE*/

.grid-col-30{
	width:50%;
	text-align: left;
	margin-top:2rem;
}

.grid-col-form{
	width:50%;
	margin-top:1rem;
}

.grid {
	width: 80%;
	margin: 1em 10%;
}

.meet-the-team .grid {
	width
}

@media (max-width: 50em) {
	.grid-col-30{
		width: 100%;
		text-align: center;
	}
	#grid-col-form{
		width:100%;
		margin-right:auto;
		margin-left:auto;
	}

}

.center{
	text-align: center;
	margin: 1.5rem;
}

/*REFERENCE PAGE*/

.reference{
	width: 100%;
}

@media (max-width: 40em){
	.reference{
		width: 100%;
		height: auto;
		margin-top: 4em;
	}
}

.index{
	position: relative;
	float:left;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

@media (max-width: 70em){
	.index{
		width: 90%;
		height: auto;
	}
}

#ref-heroes-30{
	width: 33%;
	float: left;
}

@media (max-width: 65em){
	#ref-heroes-30{
		width: 32%;
		padding: 0;
	}

}
@media (max-width: 55em){
	#ref-heroes-30{
		width: 100%;
		text-align: center;
	}
}

.grid:after {
	content: "";
	display: block;
	clear: both;
}