*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*HEADERS STYLE*/
h1{
	font-family: PT Sans;
	font-size: 2.5rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	margin:0;
	color:#00AEDF;
}

h2{
	font-family: PT Sans;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin:0;
	float:none;
	text-align:center;
	width:100%;
	color: #00AEDF;
}

h3{
	font-family: PT Sans;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin:0;
	margin-top: 0.5em;
	float:none;
	font-size: 1.5em;
}

h4{
	font-family: PT Sans;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.7em;
	margin:0;

	padding-top: 0.5em;
	width: 100%;
}

h5{
	font-family: PT Sans;
	font-size: 0.75em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

h6{
	font-family: PT Sans;
	font-size: 0.75rem;
	margin: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

p{
	font-family: PT Sans;
}

/*END OF HEADERS STYLE*/


/*HEADER SECTION*/
header{
	width:100%;
	position:fixed;
	top:0;
	z-index: 10;
	background-color: white;
	height:4em;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
}

header nav {
	display: block;
	float: right;
	width: 100%;
	text-align: right;
	height: 4em;
	position: absolute;
	right: 0;
}

.head-nav {
	font-family: PT Sans;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
	letter-spacing: 2px;
	color: black;
	margin: auto 2%;
	display: inline-block;
	text-decoration: none;
	/* margin-left: 5%; */
	margin-top: 1.4em;
	transition:0.25s;
}

.head-nav:hover{
	color: #00ADEF;
	transition:0.25s;
}

.current{
	color:#00ADEF;
}

.logo{
	width: auto;
	float: left;
	position:absolute;
	margin-top: 0.25em;
	margin-left: 3.5em;
	z-index:99999;
}

#mobile-menu {
	display: none;
}

/*END OF HEADER SECTION*/


/*BODY SECTION*/
body{
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
}
/*END OF BODY SECTION*/


/*BANNER SECTION*/
.banner{
	margin-top: 2em;
	position: relative;
}

.banner img{
	width: 100%;
	position: relative;
}

.banner-title {
	color: #00AEDF;
}

.banner-question {
	color:black;
}

/*END OF BANNER SECTION*/


/*FEATURES SECTION*/
.features {
	width: 80%;
	display: block;
	float: left;
	border-bottom: 1px solid #ccc;
	padding-bottom: 2em;
	padding-top: 2em;
	margin: auto 10%;
	text-align: center;
}

.feature-box{
	width: 45%;
	margin: 1.5em auto;
	float: left;
  	display: block;
  	position: relative;
  	overflow: hidden;
  	text-align: center;
}

.feature-box-pic {
	overflow:hidden;
	position:relative;
}

.feature-box img {
	width: 100%;
}

.label {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0, 173, 239, 0.75);
  vertical-align: middle;
  padding: 22% 0;
  opacity: 0;
  margin: 0;
  transition: 0.3s;
  height: 98.3%;
}

.feature-box:hover .label {
  opacity:1;
  transition:0.3s;
}

.new-additions {
	margin-right:10%;
}

.new-description-paragraph{
	font-family: PT Sans;
	font-size: 0.8em;
	/*text-transform: uppercase;*/
	letter-spacing: 0.1em;
	margin:0;
	padding: 0 10%;
	width:100%;
}
/*END OF FEATURES SECTION*/


/*EVENTS SECTION*/
.events {
	width: 80%;
	height: auto;
	margin: 2em 10%;
	display: block;
	float: left;
	text-align: center;
	position: relative;
}

.events-all{
	width: 100%;
	margin-top: 1.5em;
}

.events-grid{
  display: inline-block;
  width: 30%;
  /* height: 10em; */
  float: left;
  text-align: center;
}

.events-grid img:hover{
	color:white;
	opacity: 0.5;
	transition:0.5s;
}

.events-grid-first img {
	width:100%;
	height:auto;
}

.events-grid-mid{
	margin:auto 5%;
}
.events-grid-mid img {
	width:100%;
	height:auto;
	-webkit-backface-visibility: hidden;	
}

.events-grid-last img {
	width:100%;
	height:auto;
}

.events-last {
float:right;
}

.events-label{
  margin: 1em 0;
  width: 100%;
  margin-bottom: 0;
}
/*END OF EVENTS SECTION*/


/*FOOTER*/
.footer{
  width: 100%;
  height: auto;
  font-size: 14px;
  z-index: 1;
  position: relative;
  box-shadow: 0 -2px 9px 0 rgba(0,0,0,0.1);
  display: inline-block;
  text-align: center;
  margin-top: 1em;
  background-color: white;
}

.footer-icons{
	text-align: center;
	float: none;
	display: block;
	margin: 1em 1.5em;
}

.footer-img{
	text-align: center;
	float: none;
	margin: 0.5em 0;
}

.comments{
	font-family: PT Sans;
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 12rem;
	height: 1rem;
	margin-top: 0em;
	/*  line-height: 1em;*/
	padding: 0.3rem;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

input:focus {
  outline:none;
}

.email-button{
  text-decoration: none;
  list-style: none;
  border: none;
  width: 5em;
  padding: 0.75em 1em;
  text-align: center;
  font-family: PT Sans;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 0.8em;
  background-color:  #E6E7E8;
  color: white;
  transition:0.5s;
  color:black;
  display: inline-block;
  box-sizing: content-box;
}

.email-button:hover{
	background-color: #00ADEF;
	border:none;
	color:white;
	transition:0.5s;
}

.extras {
	margin: 1em 1.5em;
}

.extra-content{
	width: 50%;
	display: inline;
	margin: 0 2%;
	font-family: PT Sans;
	font-size: 0.75em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.extras a{
	text-decoration: none;
	color: black;
}

.extras a:hover{
	color: #00AEDF;
}
/*END OF FOOTER SECTION*/

/*Tablet*/
@media (max-width: 50em) {
	.new-description-paragraph{
		width: 100%;
		padding:0 10%;
	}
}

/*MOBILE*/
@media (max-width: 40em){

	/*HEADER*/
/*	header{
		text-align: center;
		height:9em;
	}*/

	header nav {
		float:none;
		text-align: center;
		height: 5em;
	}

	.head-nav{
		width: 50%;
		margin: 0;
		float: left;
		margin: 0.5em auto;
	}

		.logo img {
		clear: both;
		float:none;
	}

	.logo {
		width: 100%;
		text-align: center;
		float: none;
		margin: 0;
		position:relative;
	}

	/*New Header*/

	header {
		text-align: center;
		height: auto;
	}

	#mobile-menu {
		display: block;
		position:absolute;
		float:right;
		width:2em;
		height:2em;
		right:1em;
		top:1em;
		background: yellow;
		z-index:999999;
}

	header nav {
		position:relative;
		display: none;
	}
	/* END OF HEADER*/


	/*BANNER*/
	.banner{
		margin-top: 3em;
	}
	/*END OF BANNER*/


	/*FEATURES*/
	.feature-box{
		width:auto;
	}

	.new-additions{
		margin:0;
	}

	.label {
	  position: absolute;
	  top: auto;
	  width: 100%;
	  text-align: center;
	  color: white;
	  background-color: rgba(0, 173, 239, 0.75);
	  vertical-align: middle;
	  padding: 0 0;
	  bottom:0;
	  margin: 0;
	  transition: 0.3s;
	  height: 2em;
	  opacity:1;
	}

	/*END OF FEATURES*/


	/*EVENTS SECTION*/
	.events-grid {
		float:none;
		display:block;
		width:90%;
		margin: 1em 5%;
		height:auto;
	}

	.events-grid img {
		margin:auto 5%;
		height:auto;
		width:90%;
	}
	/*END EVENTS SECTION*/


	/*FOOTER*/
	.email {
		margin-bottom:1em;
	}

	.email-button{
		display:block;
		float: none;
		width: 15%;
		margin: auto;
	}

	.comments{
		font-family: PT Sans;
		padding: 0.25rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		width: 50%;
		margin: 0.25rem;
	}
	/*END OF FOOTER*/

}


@media (min-width: 40em){
	header nav {
		display:block !important;
		/*Overwrites Javascript inline style*/
	}
