header{
	width:100%;
	position:fixed;
	top:0;
	z-index: 10;
	background-color: rgba(255,255,0,0.5);
	height:4em;
}

.logo{
	width: auto;
	float: left;
	margin-top: 0.25em;
}

nav {
	display: inline;
	float:right;
}

nav a {
	font-family: PT Sans;
	text-transform: uppercase;
	font-weight:700;
	font-size: 1em;
	letter-spacing: 2px;
	color:black;
	margin: 1.5em;
	display: inline-block;
	text-decoration: none;
}

nav a:hover{
	color: #00ADEF;
}

body{
	margin: 0;
	padding: 0;
}

.banner{
/*	no repeat = no tiling for background
	background: url(css/img/banner-place.png) no-repeat 50% 0 fixed; 
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: fixed;*/
	margin-top: 4em;
}

.banner img{
	width: 100%;
}

/*FEATURES SECTION*/
.features {
	width: 100%
	display: block;
	float:left;
}

.feature-box{
	width: 45%;
	margin: 1.5em 2.5%;
	float: left;
  /*float: none;*/
  	display: block;
  	position: relative;
  	overflow: hidden;
}

.feature-box img {
	width: 100%;
}

.label {
  position: absolute;
  top: 0;
  width:100%;
  text-align: center;
  color: white;
  /*background: black;*/
  background-color: rgba(0, 173, 239, 0.75);
  /* margin-top: 125px; */
  vertical-align: middle;
  padding: 22.2% 0;
  opacity: 0;
  margin:0;
  font-family: PT Sans;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 3px;
  transition:0.3s;
}

.feature-box:hover .label {
  opacity:1;
  transition:0.3s;
}

/*EVENTS SECTION*/
.events {
	width: 100%
	display: block;
	float:left;
	padding: 0 2.5%;
}

.events-grid{
	width:25%;
}

.events-last {
float:right;

}

/*FOOTER*/

.footer{
  width: 100%;
  height: 100px;
  font-size: 14px;
/*  background-color: yellow;*/
  border-top: 1px solid #ccc;
  z-index: 1;
  position: relative;
  color: white;
  display: inline-block;
  text-align: center;
  margin-top: 3em
}

.footer-icons{
	text-align: center;
	float: none;
	display: block;
}

.footer-img{
	text-align: center;
	float: none;
}

.comments{
  font-family: PT Sans;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 10rem;
  height: 1rem;
  margin-top: 1px;
  line-height: 17px;
  padding: 0.30rem;

}

input:focus {
  outline:none;
}

.email-button{
  text-decoration: none;
  list-style: none;
  border: 1px solid #E6E7E8;
  width: 10%;
  padding: 0.5em 1em;
  text-align: center;
  margin: 1em 0;
  font-family: PT Sans;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 12px;
  background-color:  #E6E7E8;
  color: white;
  transition:0.3s;
  color:black;
  display: inline;
}

.email-button:hover{
	background-color: #00ADEF;
	border:none;
	color:white;
}

/*PRODUCTS*/

.product-nav{
  float: left;
  margin-top: 6em;
  width: 25%;
  display: inline-block;
  /*margin:0;*/
  margin-left: 5%;
}

.product-nav p {
	font-family: PT Sans;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 1px solid #ccc;
	width:50%;
	padding-bottom: 0.5em;
	letter-spacing: 2px;
}

.product-nav .nav-button{
  text-decoration: none;
  list-style: none;
  border: 1px solid #E6E7E8;
  width: 50%;
  padding: 0.75em 0;
  text-align: center;
  margin: 1em 0;
  font-family: PT Sans;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 12px;
  background-color:  #E6E7E8;
  color: white;
  transition:0.3s;
  color:black;
  display:inline-block;
}
.product-list{
	display: inline-block;
	float:left;
	width: 64%;
	margin-right: 5%;
	margin-top: 6rem;
}

.category-banner {
	width:100%;
}


/*MOBILE*/
@media (max-width: 480px){

	header{
		text-align: center;
	}

	.logo img {
		clear: both;
		float:none;
	}

	.logo {
		width: 100%
		text-align: center;
		float: none;

	}

	nav a{
		width: 50%;
		margin: 0;
		float: left;
		margin: 0.5em auto;
		background-color: yellow;
	}

	nav {
		float:none;
	}

	.banner{
		margin-top: 9em;
	}

	.email {
		margin-bottom:1em;
	}

	.email-button{
		display:block;
		float: none;
		width: 15%;
		margin: auto;
	}

	.comments{
	  font-family: PT Sans;
	  padding: 0.25rem;
	  text-transform: uppercase;
	  letter-spacing: 2px;
	  width: 50%;
	  margin: 0.25rem;
}


}
