/*------------------PRODUCTS.HTML------------------*/

/*PRODUCTS.HTML DIV*/
.multi-all {
	margin-top:4em;
	height:auto;
}

/*PRODUCT NAVIGATION SECTION*/
.product-nav{
	float: left;
	margin-top: 1em;
	width: 25%;
	height:60rem;
	display: inline-block;
	/*margin:0;*/
	margin-left: 5%;
}

.product-nav p {
	font-family: PT Sans;
	text-transform: uppercase;
	font-weight: 700;
	border-bottom: 1px solid #ccc;
	width:50%;
	padding-bottom: 0.5em;
	letter-spacing: 2px;
}

.deals-nav{
	margin-top: 2em;
}

.nav-button{
	text-decoration: none;
	list-style: none;
	border: none;
	width: 12em;
	padding: 0.75em 0;
	text-align: center;
	margin: 2em 0;
	font-family: PT Sans;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 12px;
	background-color:  #E6E7E8;
	color: white;
	transition:0.3s;
	color:black;
	display:block;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
	}

.nav-button:hover{
	background-color: #00ADEF;
	border:none;
	color:white;
	transition:0.3s;

}
/*END OF PRODUCT NAVIGATION SECTION*/


/*BREADCRUMBS*/
.breadcrumbs{
	display: inline;
	float:left;
	margin-top: 2rem;
	margin-bottom: 0;
}

.breadcrumbs a{
	margin: 0;
	padding:0;
	font-size: 0.75rem;
	text-decoration: none;
	display: inline-block;
	float:left;
}

.bc-home, .bc-products{
	font-family: PT Sans;
	text-transform: uppercase;
	display: inline;
	font-weight: 400;
	margin-right: 2em;
	color: #919191;
	text-decoration: none;
}

.bc-home:hover, .bc-products:hover{
	color: #00ADEF;
	transition:0.5s;
	border-bottom: 1px solid #00ADEF;
	text-decoration: none;
}

.bc-break{
	font-family: PT Sans;
	text-transform: uppercase;
	display: inline;
	font-weight: 400;
	margin: 0 1em;
	color: #919191;
	float:left;
	line-height: 1em;
	font-size:0.75em;
}

.bc-current{
	font-family: PT Sans;
	text-transform: uppercase;
	display: inline;
	font-weight: 400;
	margin: 0 0.5em;
	color: #00ADEF;
	text-decoration: none;
}
/*END OF BREADCRUMBS*/


/*PRODUCT LIST SECTION*/
.product-list{
	display: inline-block;
	float:left;
	width: 64%;
	margin-right: 5%;
	position:relative;
}

.over-banner{
	position: relative;
}

.over-banner-label{
	width: 100%;
	font-family: PT Sans;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
	color: black;
	background: rgba(255,255,255,0.8);
	padding: 0.75em 0em;
	position: absolute;
	bottom: 0;
	left: 0;
	float: none;
	margin: .5em 0;
	text-align: center;
}

.category-banner {
	width:100%;
	margin-bottom: 1em;
	margin-top: 5em;
}

.refine{
	width:100%;
	float:left;
	display:inline-block;
}

#search-bar{
	display: inline-block;
	float:left;
	width:85%;
}

.search{
	padding:1em;
	padding-right: 2em;
	width: 100%;
	float:left;
}

.search-button{
	display: inline-block;
	float: left;
	padding-top:0.5em;
}

.search-line{
	display: inline-block;
	width:30%;
	float:right;
}

/*---drop down sort by bar---*/
.drop-down{
	position: relative;	
	border-radius: 0;
	width: 45%;
  	height: 2.5rem;
  	line-height: 2.5rem;
  	overflow: hidden;
  	border: 1px solid #ccc;
  	padding: 0 1rem;
  	margin: 0;
  	margin-right:1em;
  	display: inline-block;
  	float:left;
}

select{
	font-family: PT Sans;
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 3px;
	text-align: center;
	border:0;
	border-radius: 0;
	margin: 0.5em;
	transition: 0.5s;
	width:100%;
	background-color: #FAFAFA;
}

select:focus {
	outline:none;
}
/*END OF PRODUCT LIST SECTION*/


/*MULTI-ITEM SECTION*/
.multi-list{
	width: 64%;
	position: relative;
	float: left;
	}


.multi-item{
	float:left;
/*	margin-right:%;*/
	margin-top: 2rem;
	display: block;
	margin-bottom: 0.25rem;
		box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
}

.multi-item:hover{
	background-color: white;
	opacity: 0.5;
	transition:0.3s;
}

.item-name{
	font-family: PT Sans;
	font-size: 1rem; 
	display: inline-block;
	text-align: center;
	margin:0;
	width:100%;
	height:auto;
}

.item-number{
	font-family: PT Sans;
	text-transform: uppercase;
	font-size: 0.75rem;
	font-weight: 700;
	text-align: center;
	margin-top: 0.25rem;
}

.item-box{
	display: inline-block;
	margin-right: 3.5%;
	text-align:center;
	width:22%;
	  vertical-align: top;
}


.item-box img {
	width:100%;
}

.item-box-last{
	float:right;
	width:22%;
	margin-right: 0;

}
/*END OF MULTI-ITEM SECTION*/


/*------------------VIEW ITEM HTML------------------*/

/*VIEW ITEM BREADCRUMBS*/
.item-breadcrumbs{
	display: inline;
	float:left;
	margin-top: 2rem;
	margin-bottom: 0;
	width:100%;
	margin-left: 4em;
}

.item-breadcrumbs a{
	margin: 0;
	padding:0;
	font-size: 0.75rem;
}
/*END OF VIEW ITEM BREADCRUMBS*/



/*ITEM DIV - includes details of the items and recommendaton*/
.item-all {
	margin-top: 4em;
	height:auto;
	width: 100%;
	display: block;
}

/*VIEW ITEM SECTION*/
.view-item{
	display: block;
	margin-bottom: 3em;
	width:100%;
	float: left;w
}

.item-picture{
	margin-top: 1.5em;
	margin-left: 4em;
	float:left;
}

.item-heading{
	width: 60%;
	height: auto;
	float: right;
}

.item-header{
	font-family: PT Sans;
	font-weight: 700;
	text-transform: uppercase;
	color:black;
	font-size: 2rem;
	padding-bottom: 0.25em;
	letter-spacing: 5px;
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0;
}

.item-price{
	font-family: PT Sans;
	font-weight: 700;
	text-transform: uppercase;
	color:black;
	font-size: 1.5rem;
	padding-bottom: 0.25em;
	letter-spacing: 5px;
	display: block;
	margin-top: 1em 0;
}

.item-subheader{
	font-family: PT Sans;
	text-decoration: uppercase;
	text-transform: uppercase;
	display: block;
	margin:0;
}

.item-description{
	font-family: Crimson Text;
	line-height: 2em;
	width: 60%;
	font-size: 0.75em;
	margin: 3em 0;
}

.quantity{
	font-family: PT Sans;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 0.75em;
	margin: 0;
}
.item-quantity {
	font-family: PT Sans;
	 padding: 0.25rem;
	 text-transform: uppercase;
	 letter-spacing: 2px;
	 width: 50%;
	 margin-bottom: 2em;
	 display: block;
}

/*--- Add cart button ---*/
.button{
	width: 48%;
	float:left;
	text-decoration: none;
	list-style: none;
	border: 1px solid #000000;
	padding: 0.75em 1em;
	text-align: center;
	font-family: PT Sans;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 12px;
	background-color: black;
	color: white;
	transition:0.3s;
	display: block;
}

.button:hover{
	background-color: #00ADEF;
	border:1px solid #00ADEF;
	transition:0.3s;
}
/*END OF VIEW ITEM SECTION*/


/*RECOMMENDATION SECTION*/
.recommendations{
	border-top: 1px solid #ccc;
	padding-top: 3em;
	display: block;
	float: left;
	width:100%;
}

.recommendation-box{
	display: inline;
	text-align: center;
	float: left;
	width: 100%
}

.recommend-item-box{
	display: inline-block;
	margin-right: 3.5%;
	text-align:center;
	width: 11%;
	min-width:125px;
}
/*END OF RECOMMENDATION SECTION*/


/*------------------VIEW ITEM HTML------------------*/
/*INFORMATION SECTION*/
.information-input{
  float: left;
  height: 50em;
  width: 50%;
  margin-left: 5%;
  display: inline;

}

.information-header{
	margin-top: 1em;
	margin-left: 1.5em;
}

.checkout-information{
	display: block;
	float: left;
	width:100%;
}

.review{
	float: left;
	/* position: absolute; */
	/* top: 5em; */
	width: 45%;
	height: 50em;
	margin-left: 0;
	display: inline-block;
	float: right;
}

/*---shipping information---*/
.shipping{
	float:left;
	width: 100%;
	height:18em;
/*	background-color: yellow;*/
}

.detail-header{
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: PT Sans;
	margin-bottom: 1em;
}

.detail{
	margin-left: 6em;
	width:50%;
	margin-top: 0.25em;
	float:left;
}

select:focus {
  outline:none;
}

.input-label{
	font-family: PT Sans;
	font-size: 0.75em;
	text-transform: uppercase;
	color:#00ADEF;

	letter-spacing: 0.1em;
	display: block;
	float:left;
	width: 100%;
	margin: 0;
}


.medium-input-label{
	width: 55%;
}

.small-input-label{
	width: 25%;
	margin-left: 1.5em;
}

.half-input-label{
	width:32.5%;
	margin-left: 1em
}

.country-input-label{
	width:50%;
}

.input-box{
	display: block;
	width:100%;
}

#input-detail{
/*	margin-left: 6em;*/
	width:85%;
	margin-top: 0em;
	margin-bottom: 1.5em;
	float:left;
	font-family: PT Sans;
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 1rem;
	padding: 0.30rem;
	color: black; 
}

#medium-detail{
/*	margin-left: 6em;*/
	margin-top: 0.25em;
	margin-bottom: 1.5em;
	width:55%;
	display:inline;
	float:left;
	font-family: PT Sans;
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 1rem;
	padding: 0.30rem;
}

#small-detail{
	margin-left: 0.5em;
	margin-top: 0.25em;
	margin-bottom: 1.5em;
	width:27%;
	display: inline;
	float:left;
	font-family: PT Sans;
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 1rem;
	padding: 0.30rem;
}

#half-detail{
	margin-left: 0.5em;
	margin-top: 0.3em;
	margin-bottom: 1.5em;
	width:33.5%;
	display: block;
	float:left;
	font-family: PT Sans;
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 1rem;
	padding: 0.30rem;
}

.first-half-detail{
	margin-left: 6em;
	margin-top: 0.3em;
	margin-bottom: 1.5em;
	width:40%;
	display: inline-block;
	float:left;
	font-family: PT Sans;
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 1rem;
	padding: 0.30rem;
}

.second-half-detail{
	width: 39%;
	display: inline-block;
	margin-left: 1em;

}

.detail-country{
	font-family: PT Sans;
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 3px;
	text-align: center;
	background-color: white;
	border:0;
	border-radius: 0;
/*	margin-left: 6em;*/
	transition: 0.5s;
	width:100%;
	height:0.5em;
	float:left;
	display: inline;
	margin: 0.25;
	margin-left:0;
}

/*---payment information---*/
.payment{
	float:left;
	width: 100%;
}

.detail-line{
	display: block;
	width:100%;
	float: left;
	margin:0;
}

.detail-card{
	font-family: PT Sans;
	text-transform: uppercase;
	font-size: 0.75em;
	letter-spacing: 3px;
	text-align: center;
	background-color: white;
	border: 0;
	border-radius: 0;
	/* margin-left: 6em; */
	transition: 0.5s;
	width: 100%;
	height: 0.5em;
	float: left;
	display: inline;
	margin: 0.25;
	margin-left: 0;
}

.drop-down-details{
	margin-top: 0.2em;	
	border-radius: 0;
	width: 50%;
  	overflow: hidden;
  	border: 1px solid #ccc;
  	float:left;
  	margin-bottom: 1em;
}

.drop-down-card{
	width: 50%;
}

input {
	color: black;
}

::-webkit-input-value {
   color: black;
}

:-moz-value { / Firefox 18- /
   color: black;  
}

::-moz-value {  / Firefox 19+ /
   color: black;  
}

:-ms-input-value {  
   color: black;  
}
/*END OF INFORMATION SECTION*/

/*REVIEW SECTION*/
.cart{
	float: right;
	width: 30%;
	position: absolute;
	top:4em;
	right:1em;
	margin: 4em;
	margin-right:6em;
	display: block;
/*	background-color: yellow;*/
	padding:1em;
	border: 1px solid black;
	height:auto;
}

.item-wrapper{
	padding-bottom: 3em;
	border-bottom: 1px solid black;
	display: block;
	float: left;
	width: 100%;
	text-align: center;
	background-color: white
}

.cart-details{
	margin:1em auto;
	display: inline;
	float:left;
	width: 100%;
}

.cart-item{
	font-family: PT Sans;
	text-transform: uppercase;
	font-weight: 700;
	display: inline-block;
	position: relative;
	width: 32%;
}

.cart-label {
	font-size: 0.75em;
	opacity:0.8;
	font-weight: 400;
}

.cart-number {
	text-align: right;
}

.cart-button {
	position:absolute;
	display:block;
}

.purchase-btn{
	width:83%;
	float:left;
	display: block;
	position: relative;
	margin-top:3em;
}

.review-item{
	float: left;
	margin: auto;
	margin-top: 2rem;
	display: block;
	margin-bottom: 0.25rem;
	width: 50%;
	margin: 2rem 25% 0.25rem 25%;
}
/*END OF REVIEW SECTION*/

/*MOBILE*/
@media (max-width: 40em){


	/*PRODUCTS.HTML DIV*/
	.multi-all{
		margin-top:9em;
		margin-left: 1em;
		margin-right: 1em;
	}

	/*PRODUCTS.HTML DIV*/
	.multi-all{
		margin-top:9em;
		margin-left: 1em;
		margin-right: 1em;
	}

	.multi-list {
	float: left;
  	display: block;
 	margin-bottom: 1em;
	}

	/*PRODUCT NAVIGATION SECTION*/
	.product-nav {
		width:100%;
		height:auto;
		display:block;
	}

	.nav-button {
		width:40%;
		margin:2.5%;
		display: inline-block;
	}

	.product-nav p {
		width:85%;
		text-align: center;
		margin: 1em 2.5%;
	}

	.product-list{
		width:100%;
	}


	.item-box {
		width:45%;
		margin: auto 2.5%;
		float:left;
	}

	.item-box img {
		width:100%;
	}

	.item-name, .item-number {
		width: 100%;
	}

	/*END OF PRODUCT NAVIGATION SECTION*/


	/*PRODUCT LIST SECTION*/
	.drop-down{
		width:auto;	
	}

	/*View item*/

	.view-item img{
		width:100%;
	}

	/*footer*/
	.footer {
		margin-top:5em;
	}

	/*PRODUCT NAVIGATION SECTION*/
	.product-nav {
		width:100%;
		height:auto;
		display:block;
	}

	.nav-button {
		width:40%;
		margin:2.5%;
	}

	.product-nav p {
		width:85%;
		text-align: center;
		margin: 1em 2.5%;
	}

	.product-list{
		width:100%;
	}
	/*END OF PRODUCT NAVIGATION SECTION*/


	/*PRODUCT LIST SECTION*/
	.drop-down{
		width:auto;	
	}
	/*END OF PRODUCT LIST SECTION*/


	/*VIEW-ITEM SECTION*/
	.view-item {
		text-align: center;
	}

	.view-item img{
	  width: 90%;
	  margin: 1em auto;
	  float: none;
	  height: auto;
	  margin-top: 2em;
	}

	.item-heading {
		width:90%;
		float:none;
		margin:auto;
	}

	.item-header {
		margin-top: auto;
		width:100%;
	}

	.item-description {
		width: 100%;
		text-align: left;
		margin-top: 1em;
	}

	.item-price {
		margin-bottom: 0.5em;
	}

	.item-breadcrumbs{
		margin-top: 7em;
		margin-left: 2em;
	}

	.item-quantity {
		float:none;
		margin:auto;
		width:80%;
	}

	#item-quantity {
		margin: auto;
		width:100%;
		margin-bottom: 2em;
	}

	.button {
		float:none;
		margin:auto;
	}

	/*footer*/
	.footer {
		margin-top:5em;
	}
	/*END OF VIEW-ITEM SECTION*/


	/*PURCHASE PRODUCT SECTION*/
	.information{
		width:100%;
		position:relative;
		top:0;	
	}

	.review{
		display: block;
		width: 100%;
		float: left;
		margin-top: 6em;
	}

	.cart{
		width:auto;
		position:relative;
		top:0;
	}
	/*PURCHASE PRODUCT SECTION*/
}



